---
# defaults file for azure_infra
state: present
location: eastus
rg: "test"

#######################
# nodes 
#######################
master_nodes: [1,2,3]
infra_nodes:  [1,2,3]
app_nodes:    [1,2,3]
# Min of 3 required and add odd nums only for CNS
cns_nodes:    [1,2,3]

#######################
# vm sizes (adapt)
# az vm list-sizes -l <region> -o table
#######################

vm_size_master: Standard_D4s_v3
vm_size_infra:  Standard_D4s_v3
vm_size_node:   Standard_D2s_v3
vm_size_cns:    Standard_D8s_v3
vm_size_bastion: Standard_D1

#######################
# SSH user for all VMs created
#######################
admin_user: cloud-user
# This will be added to each instance's authorized_keys file
admin_pubkey: 'ssh-rsa LDKJFDLKJDFLDKJDF'
# Path for the private key which will be added to localhost ssh_config for proxying through the bastion
admin_privkey: '~/.ssh/id_rsa'

#######################
# Service Principal 
#######################
# This is used to template the cloud config file on each node for azure
sp_name: devops
# Place this in vars file that can be encrypted in root of play and not checked into SCM
sp_secret: 'password'
#sp_app_id: 'dfdffdfa0103'
#######################
# RHSM 
# Username / Password or
# Activation key / OrgId
#######################
rhsm_user: ''
rhsm_pass: ''
rhsm_key: ""
rhsm_org: ""
# Can specify separate pools so only Application nodes use paid subs
# or keep the same if only using one pool
rhsm_broker_pool: ""
rhsm_node_pool: ""
rhsm_repos: 
  - rhel-7-server-rpms
  - rhel-7-server-extras-rpms
  - rhel-7-server-ose-3.9-rpms
  - rhel-7-fast-datapath-rpms
  - rhel-7-server-ansible-2.4-rpms
bastion_pkgs:
  - ansible
  - atomic-openshift-utils
  - atomic-openshift-clients
  - git
  - tmux
  - screen

#######################
# Network
#######################
vnet_name: "{{ rg }}vnet"
vnet_cidr: "192.168.0.0/16"
master_subnet_cidr: "192.168.0.0/27"
infra_subnet_cidr: "192.168.0.32/27"
cns_subnet_cidr: "192.168.0.64/27"
app_subnet_cidr: "192.168.0.128/25"

api_port: 443

# If this is set, the bastion host is configured with the given static
# IP address. A public IP address is still assigned to the bastion
# because it is required during installation, but can be removed in
# Azure after the installation is done. This is useful in environments
# where the VNet is accessible from a private network.
#bastion_private_ip: 192.168.0.20

# Override the defaults for the SDN cluster network and the services
# network.
#osm_cluster_network_cidr: 10.29.0.0/16
#openshift_portal_net: 10.28.0.0/16

#######################
# LB
#######################
# Name of Master LB public IP address
master_lb_public_ip: "masterExternalLB"

# If this is set, the master load balancer will be configured as an
# internal Azure load balancer with the given IP address as its
# frontend IP address. There will be no public IP address assigned to
# the load balancer. This is useful in environments where the VNet is
# accessible from a private network.
#master_lb_private_ip: 192.168.0.21
#master_lb_private_dns: ocp-console.example.com

# Name of Router LB
router_lb_public_ip: "routerExternalLB"

# registry Storage Account Name
registry_storage_account: "{{ rg | regex_replace('-') }}"


#######################
# Custom Named Certs
#######################
# Router
#router_cert: '{"cafile": "/path/to/ca_cert", "certfile": "/path/to/fullchain.cer", "keyfile": "/vagrant/keys/domain.key"}'
## Master
#master_cert: '[{"cafile": "/path/to/ca_cert", "certfile": "/path/to/fullchain.cer", "keyfile": "/path/to/key/domain.key", "names": ["openshift.console.domain.name"]}]'


#######################
# OCP Identity
# Use 'htpasswd -n <user>' to generate password hash. (htpasswd from httpd-tools RPM)
#######################
# Example with admin:changeme
openshift_master_htpasswd_users: {'admin': '$apr1$zAhyA9Ko$rBxBOwAwwtRuuaw8OtCwH0'}
openshift_master_identity_providers: [{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

# 
#ocp_admin_passwd: 'redhat'

#######################
# deploy CNS
#######################
deploy_cns: true
deploy_cns_on_infra: false
deploy_metrics: true
deploy_logging: true
deploy_prometheus: true

# volume sizing defaults
metrics_volume_size: '20Gi'
logging_volume_size: '100Gi'
prometheus_volume_size: '20Gi'


#######################
#######################
# Don't change 
#######################
#######################
bastion: "{{ rg }}b.{{ location }}.cloudapp.azure.com"
