tenantId: {{ tenant_id.stdout }}
subscriptionId: {{ subscription_id.stdout }}
aadClientId: {{ sp_app_id }}
{% if sp_secret is defined %}
aadClientSecret: {{ sp_secret }}
{% endif %}
aadTenantID: {{ tenant_id.stdout }}
resourceGroup: {{ rg }}
cloud: AzurePublicCloud
location: {{ location }}
vnetName: {{ vnet_name }}
securityGroupName: node-nsg
primaryAvailabilitySetName: ocp-app-instances
useInstanceMetadata: true

