tenantId: {{ tenant_id.stdout }}
subscriptionId: {{ subscription_id.stdout }}
{% if sp_app is defined %}
aadClientId: {{ sp_app.stdout }}
{% elif sp_app_id is defined %}
aadClientId: {{ sp_app_id }}
{% endif %}
{% if sp_secret is defined %}
aadClientSecret: {{ sp_secret }}
{% endif %}
aadTenantID: {{ tenant_id.stdout }}
resourceGroup: {{ rg }}
cloud: {{ openshift_cloudprovider_azure_cloud }}
location: {{ location }}
vnetName: {{ vnet_name }}
securityGroupName: {{ openshift_cloudprovider_azure_security_group_name }}
primaryAvailabilitySetName: {{ openshift_cloudprovider_azure_availability_set_name }}
useInstanceMetadata: true
